name: PR Tests for Github
on:
  pull_request:
    branches:
      - master
      - release/*
jobs:
  run-precommit-tests:
    runs-on: ubuntu-latest
    container: ghcr.io/mlopatkin/andlogview-build-environment@sha256:902e19e084dffe8d4773f42fae44c7910674b2ed504bc077f1ca0ef08064f4a2
    env:
      PYTHON_BINARY: python3
    steps:
      - uses: actions/checkout@v4
      - name: Run lint checks
        run: bash tools/hooks/lint-all.sh
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # 5.0.0
      - name: Run unit tests
        run: >
            ./gradlew
            -Porg.gradle.java.installations.fromEnv=JDK17,JDK25
            -Porg.gradle.java.installations.auto-download=false
            -Porg.gradle.java.installations.auto-detect=false
            --stacktrace
            --continue check shadowDistZip
      - name: Publish artifacts
        uses: ./.github/actions/publish-gradle-outputs
  prevent-fixup-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prevent fixup commits
        uses: 13rac1/block-fixup-merge-action@bd5504fb9ca0253e109d98eb86b7debc01970cdc # v2.0.0
